[submodule "datasets/vervet1818-3d-pairs"]
	path = datasets/vervet1818-3d-pairs
	url = https://jugit.fz-juelich.de/aoberstrass/datasets/vervet1818/vervet1818-3d-pairs.git
	datalad-id = cf5c3459-34bd-4b2f-88db-1225a483e8d7
	datalad-url = https://jugit.fz-juelich.de/aoberstrass/datasets/vervet1818/vervet1818-3d-pairs.git
